#table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
#table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
#table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
#table tbody tr:nth-child(odd){
	background: #fff;
}
#table tbody tr:nth-child(even){
	background: #747474;
}   

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    height: 100vh;
}
.black{
    color: black;
}
.font-l{font-size: large;}
.font-xl{font-size: x-large;}
.font-25{font-size: 2.5em;}
.fl-row{display: flex;
    flex-flow: row;}
.fl-col{display: flex;
    flex-flow: column;}
.fl-sb{justify-content: space-between;}
.mt-40{margin-top: 40px;}
.mr-20{margin-right: 20px;}
.ml-20{margin-left: 20px;}

#card-form{
    margin: 10px;
}

.card-result{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 18px;
    border: solid black 1px;
    border-width: 2px;
}

#card-result__card-bank{
    width: 250px;
    height: 75px;
    margin: 20px;
    background-size: cover;
}

#card-result__card-number{
    width: 90%;
    height: 50px;
    margin: 10px 20px 0 20px;
}

#card-result__card-holder{
    max-width: 55%;
}

#card-result__card-date{
    margin-left: auto;
}

#card-result__card-type{
    width: 80px;
    height: 50px;
    background-size: cover;
}



#card-list{
    margin: 10px;
}

select, input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text].date {
    width: 60px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button{
    background-color: #a555be;
    border: black;
    color: white;
    padding: 16px 32px;
    text-decoration: black;
    margin: 4px 2px;
    cursor: pointer;
    border-width: 2px;  
    border-radius: 10px;
}

